@model QS.DTO.CommentModule.BookCommentDto
<div class="post-comment">
    <h3 class="comments-line text-muted">发表评论</h3>
    <form role="form" id="comment-form" action="@Url.Action("BookFormPartial", "Comment")" method="post">
        @Html.HiddenFor(model => Model.IsMember)
        @Html.HiddenFor(model => Model.BookId)
        @if (Model.IsMember != 0)
        {
            @Html.HiddenFor(model => Model.Email)
            <div class="form-group">
                <label>昵称</label>
                @Html.TextBoxFor(model => Model.NickName, new
                {
                    @class = "form-control",
                    @readonly = "true"
                })
            </div>
        }
        else
        {
            <div class="form-group">
                <label>昵称</label>
                @Html.TextBoxFor(model => Model.NickName, new { @class = "form-control" })
                <span class="error-block" id="nickname-block">
                </span>
            </div>
            <div class="form-group">
                <label>邮箱 <span class="color-red">*</span></label>
                @Html.TextBoxFor(model => Model.Email, new { @class = "form-control" })
                <span class="error-block" id="email-block">
                    @Html.ValidationMessageFor(model => Model.Email)
                </span>
            </div>
        }
        <div class="form-group">
            <label>内容 <span class="color-red">*</span></label>
            @Html.TextAreaFor(model => Model.Content, new { @class = "form-control", rows = 8 })
            <span class="error-block" id="content-block">
                @Html.ValidationMessageFor(model => Model.Content)
            </span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="radio-list">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.ReadStatus, "1") 想读
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.ReadStatus, "2") 在读
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.ReadStatus, "3") 读过
                        </label>
                    </div>
                    <span class="error-block" id="readstatus-block">
                        @Html.ValidationMessageFor(model => Model.ReadStatus)
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="display:none;  float: right;" id="score_div">
                    <label for="Score">评分</label>
                    <input type="range" value="@Model.Score" step="0.25" id="Score" name="Score">
                    <div class="rateit" data-rateit-backingfld="#Score" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                    </div>
                    <span class="error-block" id="score-block">
                    </span>
                </div>
            </div>
        </div>
        <p><button class="btn btn-default theme-btn" type="submit">贴上</button></p>
    </form>
</div>