@model QS.Web.Models.ProfileChangePassword
@using (Ajax.BeginForm("ChangePassword", null,
    new AjaxOptions { HttpMethod = "Post", OnSuccess = "success", OnFailure = "fail" },
    new { id = "profile" }))
{
    <div class="form-group">
        <label class="control-label">原密码</label>
        <!--<input type="password" class="form-control" />-->
        <div class="input-icon right">
            <i class="fa fa-key"></i>
            @Html.PasswordFor(model => model.CurrentPassword, new { @class="form-control"})
            @*<input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword">*@
        </div>
        <span class="error-block">
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </span>
    </div>
    <div class="form-group">
        <label class="control-label">新密码</label>
        <div class="input-icon right">
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(model => model.NewPassword, new { @class="form-control"})
            @*<input type="password" class="form-control" id="NewPassword" name="NewPassword">*@
        </div>
        <span class="error-block">
            @Html.ValidationMessageFor(model => model.NewPassword)
        </span>
    </div>
    <div class="form-group">
        <label class="control-label">再次输入新密码</label>
        <div class="input-icon right">
            <i class="fa fa-plus"></i>
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class="form-control"})
            @*<input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">*@
        </div>
        <span class="error-block">
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </span>
    </div>
    <div class="margin-top-10">
        <button type="submit" class="btn green">
            确认修改
        </button>
        <button type="reset" class="btn default" name="res">
            取消修改
        </button>
    </div>
    <div class="clearfix margin-top-10">
        <span class="error-block">
            @Html.ValidationMessage("duplicate")
        </span>
    </div>
}

<script type="text/javascript">
    function success(evt) {
        if (evt == null || evt.Success == false) {
            var message = evt ? evt.Message : '修改失败，验证不通过';
            App.alert({
                container: '#tab_password',
                place: 'prepent',
                type: 'danger',
                message: message,
                focus: false,
                closeInSeconds: 3,
                icon: 'warning'
            });
            $('button[name=res]').click();
            App.scrollTo();
        } else {
            $('button[name=res]').click();
            bootbox.alert("密码修改成功，请重新进行登录", function() {
                window.location.href = '/Account/Login';
            });
        }
    }
    function fail() {
        App.alert({
            container: '#tab_password',
            place: 'prepent',
            type: 'danger',
            message: '出现错误，请刷新后再进行修改！',
            focus: false,
            closeInSeconds: 3,
            icon: 'warning'
        });
        $('button[name=res]').click();
        App.scrollTo();
    }
</script>