@model QS.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "找回密码";
}
@section Styles{
}
<div class="page-container">

    <!-- 导航面包屑 -->
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>&nbsp;</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">主页</a></li>
                    <li class="active">忘记密码</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 结束 面包屑 -->
    <!-- 主体 -->
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-signup-page">
                <form action="@Url.Action("ForgotPassword")" method="POST">
                    <span class="error-block">
                        @Html.ValidationMessage("duplicate")
                    </span>
                    <div class="form-group margin-bottom-20">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.TextBoxFor(model => model.RealName, new { @class = "form-control", placeholder = "请输入真实姓名" })
                        </div>
                        <span class="error-block">
                            @Html.ValidationMessageFor(model => model.RealName)
                        </span>
                    </div>
                    <div class="form-group margin-bottom-20">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "请输入邮箱" })
                        </div>
                        <span class="error-block">
                            @Html.ValidationMessageFor(model => model.Email)
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <button type="submit" class="btn default btn-block" style="color: #999;">确定&nbsp;<i class="fa fa-sign-in"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initUniform();
        });
    </script>
}
