@model IEnumerable<QS.DTO.SharedModule.BookDto>


<div class="recent-news margin-bottom-10">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row margin-bottom-10">
                <div class="col-md-3">
                    <img src="@item.ThumbPath" alt="" class="img-responsive">
                </div>
                <div class="col-md-9 recent-news-inner">
                    <h3><a href="@Url.Action("Item", new{id = @item.BookId})" title="@item.BookName">@item.BookName</a></h3>
                    <p>作者：@item.Author</p>
                    <p class="text-muted">@(item.Wish)人想读</p>
                </div>
            </div>
        }
    }
</div>
