@model QS.Web.Models.BookViewModel
@{
    ViewBag.Title = "书籍人生";
    ViewBag.CurrentPage = "Shared-Book";
    var NewBook = Model.FourNewestBooks;
}

@section Styles{
    <link href="/assets/css/pages/book.css" rel="stylesheet" />
}

    <!-- 页面内容 -->
<div class="page-container">

    <!-- 导航面包屑 -->
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>&nbsp;</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">主页</a></li>
                    <li class="active">书籍人生</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 结束 面包屑 -->
    <!-- 主体 -->
    <div class="container min-hight">
        <!-- 新闻内容 -->
        <div class="row">
            <!-- 左边 -->
            <div class="col-md-9 col-sm-3 blog-posts">
                <div id="portfolio-content" class="row portfolio-page">
                    <div class="col-md-12">
                        <div class=" titlemore">
                            <h4 class="pull-left" style="margin-bottom:0px;"><span class="slash-colored">//</span> 新书推荐</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @if (NewBook != null && NewBook.Count > 0)
                    {
                        foreach (var item in NewBook)
                        {
                            <div class="portfolio-group col-md-3 col-sm-3">
                                <a class="portfolio-item" href="@Url.Action("Item", new {id = @item.BookId})">
                                    <img src="@item.ThumbPath" alt="@item.BookName" class="img-thumbnail">
                                    <div class="detail">
                                        <h4 class="text-center">@item.BookName</h4>
                                        <p>@item.Remark</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-12 border-1-5">    
                </div>
                <div class="col-md-12">
                    @{
                        Html.RenderAction("_RandomBookPartial");
                    }
                </div>
                <div class="col-md-12 border-1-5">
                </div>
                <div class="col-md-12 hero-unit margin-bottom-40">
                    <div class="col-md-6">
                        <img src="~/assets/img/pics/img1-medium.jpg" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-6">
                        <h4>工作室可借阅书籍</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                    <tr>
                                        <td>《人在欧洲》龙应台 华南农业大学出版社 2010-10</td>
                                    </tr>
                                    <tr>
                                        <td>《心理学与生活》佚名 华南农业大学出版社 2010-10</td>
                                    </tr>
                                    <tr>
                                        <td><del>《给读者的一封信》冰心 华南农业大学出版社 2010-10</del></td>
                                    </tr>
                                    <tr>
                                        <td>《拖延心理学》美 斯蒂芬森 华南农业大学出版社 2010-10</td>
                                    </tr>
                                    <tr>
                                        <td>《人在欧洲》龙应台 华南农业大学出版社 2010-10</td>
                                    </tr>
                                    <tr class="last-line">
                                        <td>《人在欧洲》龙应台 华南农业大学出版社 2010-10</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("MoreAvailableBook")" class="btn btn-sm" style="float: right;">查看更多</a>
                        </div>  
                    </div>
                </div>
            </div>
            <!-- 右边导航块 -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- 分类 -->
                <h6 class="bar-title">分类浏览</h6>
                <ul class="nav sidebar-categories margin-bottom-40">
                    @foreach (var item in Model.CategoryDict)
                    {
                        <li><a href="@Url.Action("Category", new { category = @item.Key})">@(item.Key+"("+item.Value+")")</a></li>
                        
                    }
                </ul>
                <!-- 结束 分类 -->
                <!-- 求索推荐 -->
                <div class="widgetheading margin-bottom-20" style="margin-top:60px;">
                    <h4>大家都觉得好的书</h4>
                </div>
                @{
                    Html.RenderAction("_HighGradeBookPartial");
                }
                <!-- 结束 求索推荐 -->
                <!-- 书籍标签 -->
                @*<div class="blog-tags margin-bottom-20">
                    <h6>热门标签</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-tags"></i>爱情</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>职场</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>心灵</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>原创</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>心灵感悟</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>情绪管理</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>治愈系</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>恋爱心理</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>求索</a></li>
                    </ul>
                </div>*@
                <!-- 结束 新闻标签 -->
            </div>
            <!-- 结束 右边导航块 -->
        </div>
        <!-- 结束 新闻内容 -->
    </div>
    <!-- 结束 主体 -->

</div>
<!-- 结束页面内容 -->


@section Scripts{
    <script type="text/javascript">
            jQuery(document).ready(function () {
                App.init();
                jQuery('#myCarousel').carousel({
                    interval: 5000,
                    pause: 'hover'
                });
            });
    </script>
}
