@model QS.DTO.SharedModule.BookDto
@{
    ViewBag.Title = Model.BookName;
    ViewBag.CurrentPage = "Shared-Book";
}

@section Styles{
    <link href="~/assets/plugins/rateit/src/rateit.css" rel="stylesheet" />
    <link href="/assets/css/pages/book.css" rel="stylesheet" />
}

    <!-- 页面内容 -->
<div class="page-container">

    <!-- 导航面包屑 -->
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>&nbsp;</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">主页</a></li>
                    <li><a href="@Url.Action("Index", "Book")">书籍人生</a></li>
                    <li class="active">书籍简介</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 结束 面包屑 -->
    <!-- 主体 -->
    <div class="container min-hight">
        <!-- 新闻内容 -->
        <div class="row">
            
            <!-- 左边内容块 -->
            <div class="col-md-9 col-sm-9 blog-item">
                <div class="book-page">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="book-main-image">
                                <img src="@Model.ThumbPath" alt="Cool green dress with red bell" class="img-responsive" data-bigimgsrc="@Model.ThumbPath">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h2>@Model.BookName</h2>
                            <div class="book-infor-block clearfix">
                                <div class="show-infor">
                                    <span class="title">作者：</span>
                                    <span>@Model.Author</span>
                                </div>
                                <div class="show-infor">
                                    <span class="title">出版社：</span>
                                    <strong><span>@Model.Press</span></strong>
                                </div>
                                <div class="show-infor">
                                    <span class="title">出版时间：</span>
                                    <strong><span>@Model.PublishedTime</span></strong>
                                </div>
                                <div class="show-infor">
                                    <span class="title">页数：</span>
                                    <strong><span>@(Model.PageNum)页</span></strong>
                                </div>
                            </div>
                            <div class="book-description">
                                <p>@Model.Remark</p>
                            </div>
                            <div class="review">
                                <div class="rateit" data-rateit-value="@Model.Grade" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                <span>@Html.BookGradeFormat(@Model.Grade, @Model.EvaluateTimes)</span>
                            </div>
                            <div class="review">
                                <span>@(Model.Wish)人想读&nbsp;&nbsp;@(Model.Reading)人在读&nbsp;&nbsp;@(Model.Already)人读过</span>
                            </div>
                            <div class="resourse">
                                @if (Model.HasResource)
                                {
                                    <a class="btn green btn-sm" href="@Model.ResourcePath" target="_blank">资源下载 <i class="fa  fa-cloud-download"></i></a>
                                }
                                else
                                {
                                    <span class="text-muted">暂无下载</span>
                                }
                            </div>
                        </div>
                        <div class="book-page-content">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#Description" data-toggle="tab">书籍介绍</a></li>
                                <li><a href="#Information" data-toggle="tab">作者简介</a></li>
                                <li><a href="#Reviews" data-toggle="tab">评论信息(@(Model.CommentNum)条)</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="Description">
                                    @if (!String.IsNullOrEmpty(@Model.BookDescribing))
                                    {
                                        @Html.Raw(@Model.BookDescribing)
                                    }
                                    else
                                    {
                                        <p>暂无描述</p>
                                    }

                                </div>
                                <div class="tab-pane fade" id="Information">
                                    @if (!String.IsNullOrEmpty(@Model.AuthorDepict))
                                    {
                                        @Html.Raw(@Model.AuthorDepict)
                                    }
                                    else
                                    {
                                        <p>暂无描述</p>
                                    }
                                </div>
                                <div class="tab-pane fade" id="Reviews">
                                    <div id="comments">
                                        @{
                                            Html.RenderAction("_BookPartial", "Comment");
                                        }
                                    </div>
                                    <!-- BEGIN FORM-->
                                    @{
                                        Html.RenderAction("_BookFormPartial", "Comment");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 结束  左边内容块-->
            <!-- 右边块 -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- 分类 -->
                <div class="widgetheading margin-bottom-20 margin-top-20">
                    <h4>大家都觉得好的书</h4>
                </div>
                @{
                    Html.RenderAction("_HighGradeBookPartial");
                }
                <h4 class="titlemore-noborder"><span class="slash-colored">//</span>别人都读过</h4>
                @{
                    Html.RenderAction("_MostReadBookPartial");
                }
                <!-- 结束 分类 -->
                <!-- 书籍标签 -->
                <div class="blog-tags margin-bottom-20">
                    <h6 class="bar-title">热门标签</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-tags"></i>爱情</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>职场</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>心灵</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>原创</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>心灵感悟</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>情绪管理</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>治愈系</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>恋爱心理</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i>求索</a></li>
                    </ul>
                </div>
                <!-- 结束 新闻标签 -->
            </div>
            <!-- 结束 右边导航块 -->
        </div>
        <!-- 结束 新闻内容 -->
    </div>
    <!-- 结束 主体 -->

</div>
<!-- 结束页面内容 -->


@section Scripts{  
    <script src="~/assets/plugins/rateit/src/jquery.rateit.min.js"></script>
    <script src="~/assets/plugins/zoom/jquery.zoom.min.js"></script>
    @*<script src="/assets/scripts/app.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            $('.book-main-image').zoom({ url: $('.book-main-image img').attr('data-BigImgSrc') });
            var $score = $('#score_div');
            $('#comment-form #ReadStatus').on('change', function () {

                var value = $('input:radio[name=ReadStatus]:checked').val();
                if (value > 1 && !$score.is(":visible")) {
                    $score.show();
                }
                else if (value <= 1 && $score.is(":visible")) {
                    $score.hide();
                    $('#comment-form .rateit').rateit('reset');
                    $('#comment-form #Score').val(null);
                    $('#score-block').html("");
                }
            });

            $('#comment-form .rateit').bind('rated reset', function(e) {
                $('#score-block').html("");
            });

            var options = {
                beforeSubmit: validateDate,
                success: showResponse,
                clearForm: false,
                resetForm: false,
                timeout: 3000
            };

            $('#comment-form').on('submit', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit(options);
            });

            function validateDate() {
                if ($score.is(":visible")) {
                    if ($('#comment-form #Score').val() < 0.2) {
                        $('#score-block').html("请对此书进行评分");
                        return false;
                    }
                }
            }

            function showResponse(responseText, statusText, xhr, $form) {

                if (responseText.Success != null) {
                    return;
                }
                var result = responseText;
                var value = parseInt($('#comments #comments-count').text());
                $('#comments-count').text(value + 1);
                var $comments = $('#comments').children('div.media');
                if ($comments.length >= 5) {
                    $comments[4].remove();
                }
                $('#comments > h6').after(result);
                App.scrollTo($('#comments'));

                var $email = $('#comment-form #Email');
                if (!$email.is(":hidden")) {
                    $email.val("");
                    $('#comment-form #NickName').val("");
                }
                $('#comment-form #Content').val("");
                $('input:radio[name=ReadStatus]').attr('checked', false);
                $('#comment-form .rateit').rateit('reset');
                $score.hide();
            }

            
        });
    </script>

}
